html {
    font-size: 90%; /* This makes 1rem equal to 10px (if browser default is 16px) */
}

:root {
    --page-width: 50vw;
    --gap-between-pages: 2vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter Tight", sans-serif;
}

body {
    margin: 0;
    background: #000;
    color: white;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
}

/* div {
    border: 0.5px solid white;
} */