/* Color themes */
.k9699 {--rgb: 237, 39, 146;}
.k9700 {--rgb: 237, 22, 116;}
.k9801 {--rgb: 237, 19, 91;}
.k9902 {--rgb: 237, 26, 65;}
.k0003 {--rgb: 237, 36, 38;}
.k0104 {--rgb: 243, 105, 37;}
.k0205 {--rgb: 248, 151, 40;}
.k0306 {--rgb: 254, 194, 18;}
.k0407 {--rgb: 255, 242, 0;}
.k0508 {--rgb: 204, 221, 47;}
.k0609 {--rgb: 150, 201, 78;}
.k0710 {--rgb: 56, 180, 73;}
.k0811 {--rgb: 0, 166, 80;}
.k0912 {--rgb: 0, 171, 125;}
.k1013 {--rgb: 0, 165, 157;}
.k1114 {--rgb: 0, 172, 197;}
.k1215 {--rgb: 0, 173, 239;}
.k1316 {--rgb: 0, 143, 213;}
.k1417 {--rgb: 0, 113, 188;}
.k1518 {--rgb: 0, 87, 168;}
.k1619 {--rgb: 63, 63, 153;}
.k1720 {--rgb: 103, 46, 146;}
.k1821 {--rgb: 147, 42, 144;}
.thayphuc {--rgb: 188, 79, 23;}
.thayngoc {--rgb: 0, 101, 83;}
.coquynhanh {--rgb: 87, 57, 98;}
.thayhoang {--rgb: 91, 116, 134;}
.doituyenly {--rgb: 0, 65, 95;}
.trungthu {--rgb: 254, 195, 17;}
.k1922 {--rgb: 189, 36, 143;}
.default {--rgb: 250, 250, 250;}